![Tests passed successfully](https://img.shields.io/badge/tests-2982%20passed%2C%2016%20skipped-success)
## ✅ <a id="user-content-r0" href="#r0">fixtures/external/java/phpunit.xml</a>
**2998** tests were completed in **37s** with **2982** passed, **0** failed and **16** skipped.
|Test suite|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|
|/path/to/phpunit/phpunit.xml|2982✅||16⚪|37s|